* {
    padding: 0;
    margin: 0;
}
body {
    display: block;
    
}
.module.praia {
    height: 100vh;
    display: flex;
    flex-direction: column; /*Precisa desse item para deixar igual uma coluna*/
    justify-content: center;/*Precisa desses dois itens para centralizar na página*/
    align-items: center; /*Precisa desses dois itens para centralizar na página*/
    text-align: center;
    position: relative;
    padding: 20px;
   
    
}
.module.praia-1 {
    background-image: url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
    background-size: cover;
    
}
h1 {
    color: #926239;
    font: 50px Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
p {
    line-height: 25px;
}

.text1{
    color: #926239;
    font: 20px Arial,"Helvetica Neue", Helvetica, sans-serif;

}

.efeito {
    border-style: solid;
    border-radius: 4px;
    border-color: #926239;
    color: #926239;
    font: 18px Arial;
    margin: 20px 0px 0px;
    padding: 10px 20px;
    background-image: url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
    cursor: pointer;
    transition: all 400ms ease;
}
#button:hover { /*pseudo-classe,elemento quando a pessoa usuária posiciona o mouse sobre ele. */
    color: #F4F4F4;
    background: #926239;
    
}
.text {
    text-align: center;
    color: white;
    font: 17px Arial,"Helvetica Neue", Helvetica, sans-serif;
    background: #926239;
    padding: 20px;
}

.text-2 {
    text-align: center;
    color: #926239;
    font: 17px Arial,"Helvetica Neue", Helvetica, sans-serif;
    background: #F4F4F4;
    padding: 20px;
}
.conteiner {
    display: inline-block;
    width: 33%;
    font: 17px Arial,"Helvetica Neue", Helvetica, sans-serif;
    
}
#conteiner-a {
    color: #FFFFFF;
    background: #926239;
    padding: 20px;
}
#conteiner-b {
    color:#926239;
    background: #f9f9f9; ;
    padding: 20px;
    margin-left: -4px;
}
#conteiner-c {
    color: #FFFFFF;
    background: #926239;
    padding: 20px;
    margin-left: -4px;
}
